<div class="container">
	<h1>Users#index</h1>
	<p>Find me in app/views/users/index.html.erb</p><hr />
	<h2>Current Members</h2><br />

	<div class="col-md-8">
		<table class="table table-bordered table-hover table-striped table-responsive">
			<thead>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th></th>
			</thead>
			<tbody>
				<% @user.each do | i | %>
				<tr>
					<td><%= i.first_name %></td>
					<td><%= i.last_name %></td>
					<td><%= i.email_address %></td>
					<td><a href="/users/<%= i.id %>/show">Show</a><a href="/users/<%= i.id %>/edit">Edit</a><a href="/users/<%= i.id %>/delete"> Delete</a>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-md-8">
		<a href="/users/new">New User</a>
	</div>
</div>


